<section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 ">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 *ngIf="!(jwtToken$ | async)" class="text-uppercase text-center mb-5">Login to your account</h2>
              <form
              *ngIf="!(jwtToken$ | async)"
              name="form"
              (ngSubmit)="f.form.valid && onSubmit()"
              #f="ngForm"
              novalidate>
                <div class="form-outline mb-4">
                  <input type="text"
                  class="form-control"
                  name="userName"
                  [(ngModel)]="form.userName"
                  required
                  minlength="3"
                  maxlength="20"
                  #userName="ngModel" class="form-control form-control-lg" />
                  <label class="form-label" for="userName">UserName</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password"
                  class="form-control"
                  name="password"
                  [(ngModel)]="form.passWord"
                  required
                  minlength="2"
                  #password="ngModel" class="form-control form-control-lg" />
                  <label class="form-label" for="password">Password</label>
                </div>
                <div class="form-outline mb-4"> </div>

                <div class="d-flex justify-content-center">
                    <button class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Login</button>
                </div>

                <div class="form-group">
                  <div
                    class="alert alert-danger"
                    role="alert"
                    *ngIf="f.submitted && (errorMessage$ | async)"
                  >
                    Login failed. Please try again.
                  </div>
                </div>
                <p class="text-center text-muted mt-5 mb-0">Need to register your account? <a routerLink="/register"
                  class="fw-bold text-body"><u>Register here</u></a></p>
              </form>
              <h2  *ngIf="jwtToken$ | async" class="text-center text-muted mt-5 mb-0"> Logged in as {{ user$ | async }}. <a routerLink="/home"
                class="fw-bold text-body"><u>Home</u></a></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
